<html>
<head>
	<meta name = "viewport" content="with= device-width, inital-scale=1.0">
	<title> Better You - About page </title>
	<link rel="stylesheet" href="Css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100&display=swap" rel="stylesheet">
</head>
<body>
<section class="subheader">

	<nav>
		<a href="index"><img src="Images/logo2.png">
		</a>
			<div class="nav-links2">
				<ul>
					<li><a href="index">HOME</a></li>
					<li><a href="demo">LOGIN</a></li>
					<li><a href="signup">SIGN UP</a></li>
					<li><a href="about">ABOUT</a></li>
					<li><a href="contact">CONTACT US</a></li>
				</ul>
			</div>
	</nav>

	<h1> ABOUT </h1>
		
</section>


<!-----ABOUT SECTION------>

<section class = "aboutus">

	<div class = "row2">
		<div class = "about-col">
			<h1>The Main Focus</h1>
			<p>
				This website is a virtual space dedicated to offering support and guidance to individuals who are looking to improve various aspects of their lives. The website typically features a range of resources, tools, and information that is designed to help people overcome challenges, enhance personal growth, and achieve their goals. The content is created by experts in various fields such as psychology, sociology, and personal development, as well as individuals with personal experiences, and is meant to inspire, motivate, and empower visitors. The website can offer a wealth of information on topics such as mental health, relationships, career development, financial stability, and more. Whether you are seeking advice on how to manage stress, improve your self-esteem, or build healthy relationships, a self-help website can provide valuable insights and practical tips to help you achieve your desired outcomes. <br> <br>

				This website focuses on 3 areas of life :

			</p>

			<h2> Meditation Tracker </h2>

			<p> Mindfulness and meditation are practices aimed at increasing awareness and focus in the present moment. Mindfulness involves paying attention to one's thoughts, feelings, and sensations without judgment, while meditation often involves focusing on a specific object, sound, or breath to calm the mind and develop mental clarity. Both practices have been shown to have physical and mental health benefits, such as reducing stress and improving cognitive functioning. Regular mindfulness and meditation practice can help individuals cultivate a more peaceful and intentional approach to life.</p>

			<h2> Daily Exercise Tracker </h2>

			<p> Daily exercise and workout are essential for maintaining physical health and wellness. Regular physical activity helps to improve cardiovascular health, strengthen muscles and bones, and increase flexibility and balance. Exercise can also have a positive impact on mental health by reducing stress and improving mood. It's recommended to engage in moderate-intensity aerobic activity for at least 30 minutes a day, five days a week, and to incorporate strength training exercises for all major muscle groups into a weekly routine. It's important to find an activity or workout that is enjoyable and sustainable for long-term success and benefits.</p>

			<h2> Daily Journal and To-do Lists </h2>

			<p> Journal writing and to-do lists are two effective tools for personal organization and self-reflection. Journal writing allows individuals to process thoughts and emotions, set personal goals, and track progress. To-do lists help to prioritize tasks and ensure that important responsibilities are not forgotten. Using both tools together can provide a well-rounded approach to personal productivity and goal setting. It's recommended to write in a journal daily and to update a to-do list regularly to help stay on track and reflect on accomplishments. These habits can help increase focus, reduce stress, and improve overall satisfaction in life </p>






			<div class = "btnclass">
			<a href="signup.html" class = "btn">REGISTER NOW</a>
			</div>
		</div>
		
	</div>
	
</section>





</body>
</html>