<html>
<head>
	<meta name = "viewport" content="with= device-width, inital-scale=1.0">
	<title> Better You - Physical Health page </title>
	<link rel="stylesheet" href="Css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100&display=swap" rel="stylesheet">
</head>
<body>
<section class="subheader">

	<nav>
		<a href="index"><img src="Images/logo2.png">
		</a>
			<div class="nav-links2">
				<ul>
					<li><a href="index">HOME</a></li>
					<li><a href="login">LOGIN</a></li>
					<li><a href="signup">SIGN UP</a></li>
					<li><a href="about">ABOUT</a></li>
					<li><a href="contact">CONTACT US</a></li>
				</ul>
			</div>
	</nav>

	<h1> PHYSICAL HEATH </h1>
		
</section>

<section class = "mind">

	<div class = "row2">
		<div class = "about-col">

			<h1> WE ARE IMPROVING, THIS PAGE IS UNDER CONSTRUCTION </h1>
	</div>

</section>










</body>
</html>